
NEXT_PUBLIC_URL=https://polleria.vercel.app
NEXT_PUBLIC_AUTH_URL=http://localhost:7777/api
NEXT_PUBLIC_SCALE_URL=http://localhost:3333/api
NEXT_PUBLIC_PLANILLA_URL=http://localhost:4444/api
NEXT_PUBLIC_KEY=develop