.logo__content {
  width: 90px;
  height: 90px;
  background-color: #7366ff;
  border-radius: 0.7em;
  border: 4px solid #fff;
  padding: 0.35em;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.15) 10px 10px;
  background-image: url("https://sis.unia.edu.pe/api_authentication/find_file_local?path=app/img/integracion_icon.png&size=200x200");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}
